.badge-romero{
    background-color: #273707;
    color: #e1ffa6;
}

.badge-arcilla{
    background-color: #C38E64;
    color: rgb(53, 39, 28);
}

.badge-rosa-lila{
    background-color: #EADDF4;
    color: rgb(137, 93, 171);
}

.badge-cacao{
    background-color: #E5DDCD;
    color: #332527;
}

.badge-elidi{
    background-color: #EEDAF7;
    color: #684678;
}