/*
Paleta de color monocromaticos
    #D68FF7
    #B2A3B9
    #9463AB
    #EEDAF7
    #684678
*/

#header{
    background: linear-gradient(90deg,#684678,#9463AB 25%,#BE67C2);
}

#header img{
    max-width: 110px;
}

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
    
}

#carousel {
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

.card-img-horizontal{
    object-fit: cover; 
    min-height: 212px;
    height: 100%;
    min-width: 195px;
}

.card-img-vertical{
    object-fit: cover;
    width: 100%;
    max-height: 225px;
}

#footer{
    background: linear-gradient(90deg,#684678,#9463AB 25%,#BE67C2);
      color: white;  
}

#footer a{
    color: white;;
}

#footer img{
    width: 60px;
}


.btn-elidi{
    background-color: #684678 !important;
    color:whitesmoke;
}

.btn-elidi:hover{
    background-color: #9463AB !important;
    color: whitesmoke;
}